<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>       
    <add key="serviceurl1" value="http://49.50.69.79/LIPI_PM_SERVICE/Service1.svc"/>
    <!--<add key="serviceurl1" value="http://localhost:50462/Service1.svc"/>-->
    <!--http://172.16.4.55:8010/Service_Publish/Service1.svc-->
    <add key="TemplatePath" value="E://DSTemplates//"/>
    <add key="TimerInterval" value="30000"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="HealthPanel" value="enable"/>
    <add key="TransactionPanel" value="enable"/>
    <add key="AdminPanel" value="enable"/>
    <add key="CallLogPanel" value="disable"/>
    <add key="UserManagement" value="enable"/>
    <add key="Dashboard" value="enable"/>
    <add key="Type1" value="100"/>
    <add key="Type2" value="200"/>
    <add key="Type3" value="500"/>
    <add key="Type4" value="2000"/>
    <add key="LogDirectory" value="D:\\LIPI_PM\\LIPI_PM_Web_Logs"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" regenerateExpiredSessionId="true" cookieless="UseCookies" timeout="1440"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages enableSessionState="true" enableViewStateMac="true" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation targetFramework="4.5.2" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="51200"/>
    <httpModules>
      <!-- <add type="System.Web.SessionState.SessionStateModule" name="Session" /> -->
    </httpModules>
    <!--<sessionState mode="InProc"/>-->
    <!--<customErrors mode="Off" defaultRedirect="Default.aspx">
      <error redirect="~/Error/ShowError/400" statusCode="400"/>
      <error redirect="~/Error/ShowError/401" statusCode="401"/>
      <error redirect="~/Error/403.html" statusCode="403"/>
      <error redirect="~/Error/404.html" statusCode="404"/>
    </customErrors>-->
    <customErrors mode="On" defaultRedirect="/Default.aspx">
      <error redirect="~/Error/ShowError/401" statusCode="401"/>
      <error redirect="~/Error/ShowError/403" statusCode="403"/>
      <error redirect="~/Error/ShowError/404" statusCode="404"/>
      <error redirect="~/Error/ShowError/404" statusCode="404"/>
    </customErrors>

  </system.web>
  <location path="Secured"/>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>